.main__container {
    margin-top: 30vh;

}
.search__container{
    display: flex;
    margin-top: 10px;
}

.btn__search{
    width: 100px;
    height: 50px;
    border: none;
    background-color: #bebebe;
    outline: none;
}


.input__search{
    width: 650px;
    height: 50px;
    background-color: #fff;
    font-family: "Raleway",sans-serif;
    color: #5c5c5c;
    font-size: 20px;
    padding: 13px 17px;
    border: 1px solid #bebebe;
    outline: none;
}

.message__error{
    margin: 15px;
    font-size:18px;
    font-weight: bold;
    color: red;
    text-align: center;
}

@media screen and (max-width: 780px) {
    .input__search {
        font-size: 18px;
        width: 500px;
    }
}

@media screen and (max-width: 644px){
    .btn__search {
        width: 50px;
    }
    .input__search {
        width: 450px;
        font-size: 16px;
    }
}

@media screen and (max-width: 550px){
    .input__search {
        width: 400px;
        font-size: 14px;
    }
}

@media screen and (max-width: 460px){
    .input__search {
        width: 300px;
        font-size: 11px;
    }
}